.information-bar{
    border-bottom: 1px solid #444;
    height: 60px;
    position: relative;
}

* {
    box-sizing: border-box;
  }

body {
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
}

.main-menu{
    height: 60px;
}

.navbar{
    padding: 1px 10px;
}

.main-menu-container{
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.supported-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 60px;
    padding-left: 800px;
}

.firstlook{
    display: block;
}

.firstlook-wrapper{
    position: relative;
}

.firstlook-left{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    float: left;
    padding-left: 7%;
    padding-top: 10%;
}

.firstlook-right{
    width: 50%;
    float: right;
    padding-right: 7%;
    padding-top: 10%;
}

.social-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fa{
    padding: 10px;
}

h1,h2,h3,h4,h5{
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
}